#area {
    width: 400px;
    height: 200px;
    margin: 10px;

    /* CSS3 */
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;

    box-shadow: #000 0 0 15px;
    -moz-box-shadow: #000 0 0 15px;
    -webkit-box-shadow: #000 0 0 15px;
}